@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "SUSE", sans-serif;
    font-weight: 400;
    background-image: linear-gradient(#a19b8c, #403030, #362626);
}

header {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-header {
    position: absolute;
    width: 100%;
    max-width: 35rem;
    position: relative;
}

.container-header img {
    width: 100%;
    height: auto;
}

.header-title {
    position: absolute;
    width: 100%;
    margin-top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: beige;
    font-weight: bold;
    text-align: center;
    font-family: "Playwrite CU", cursive;
    font-size: 1.5em;
    text-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.container-search {
    position: relative;
    width: 100%;
    margin-top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container-search input {
    width: 30rem;
    border: none;
    padding: 1rem;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 1.5rem;
    backdrop-filter: blur(15px);
    color: #ffffff;
    font-size: 1rem;
    box-sizing: border-box;
    margin-right: 1%;
}

input::placeholder {
    color: white;
    opacity: 65%;
}

.container-search button {
    padding: 1.1rem 1.2rem;
    border: none;
    border-radius: 1.5rem;
    background-color: #362626;
    color: #F5F7F8;
    font-size: 1rem;
    cursor: pointer;
    border: 2px solid rgba(255, 255, 255, 0.5);
}

.container-search button:hover {
    background-color: #a19b8c;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #362626;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    margin: 0;
    padding-top: 1%;
    z-index: 2;
}

.resultados-pesquisa {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    width: 60rem;
    height: auto;
    max-height: 50vh;
    overflow-y: auto;
    margin-top: 2rem;
    padding: 0.5rem;
    border-radius: 0.6rem;
    z-index: 2;
}

.item-resultado {
    width: auto;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
    border-radius: 0.6rem;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
    margin-top: 3%;

}

.item-resultado:hover {
    border: none;
    transition: ease all .55s;
    transform: scale(1.1);
}

.item-resultado h2 {
    font-size: 1.5rem;
    color: beige;
    font-family: "Rubik", sans-serif;
}

.item-resultado p {
    color: #000000;
    font-weight: 600;
}

.item-resultado p strong {
    color: beige;
}

.item-resultado a {
    text-decoration: none;
    color: beige;
}

.item-resultado a:hover {
    text-decoration: underline;
    color: beige;
}

.descricao-meta {
    color: #45474B;
    margin: 0.5rem 0;
}

.container-bebidas {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 2;
}

.container-bebidas h2 {
    color: beige;
    margin-top: 10%;
    margin-bottom: 3%;

}

.container-cards {
    width: 90%;
    height: auto;
    display: flex;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.card {
    /* background: transparent; */
    /* backdrop-filter: blur(15px); */
    background: linear-gradient(#fffeea38, #362626);
    border: 2px solid rgba(255, 255, 255, 0.5);
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 1rem;
    margin: 1%;
    padding: 1%;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
}

.card:hover {
    border: none;
    transition: ease all .55s;
    transform: scale(1.1);
}

.card img {
    width: 20vw;
    height: 15vh;
    background-size: contain;
    object-fit: contain;
    background-position: center;
}

.card p {
    font-weight: 500;
    padding: 5px;
}

.card p strong {
    color: beige;
}

footer {
    background-image: url(../img/desenho-cafe.png);
    background-size: 25%;
    background-position: center;
    background-repeat: repeat;
    font-weight: 500;
    background-color: #F5F7F8;
    color: #45474B;
    text-align: center;
    padding: 0;
    width: 100%;
    height: 20vh;
    bottom: 1;
    font-size: 1rem;
    display: grid;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
}

.container-informacao {
    display: block;
    align-items: center;
}

.github {
    display: flex;
    align-items: center;
    justify-content: center;
}

.github a {
    text-decoration: none;
    color: #000000;
}

@media screen and (max-width: 768px) and (max-width: 1024px) {
    h1 {
        font-size: 3.5rem;
        letter-spacing: 0.2rem;
    }

    section input {
        width: 80%;
        padding: 0.8rem;
    }

    .resultados-pesquisa {
        width: 80%;
        height: auto;
    }

    .item-resultado h2 {
        font-size: 1.3rem;
    }

    .card {
        margin: 10px;
    }
}


@media screen and (max-width: 344px) and (max-width: 412px) {
    .card {
        width: 100%;
        height: 300px;
    }
}